@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.ViewFeatures

@inject IBorrowersRepository Borrowers;
@{ var currentUser = Borrowers.CurrentUser; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Book Country | @ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css"/>
    <link href="~/css/animate.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/books.css"/>
    <link href="~/lib/toastr/toastr.css" rel="stylesheet"/>
</head>
<body>
    @await Component.InvokeAsync("NToastNotify.Toastr");

    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #00008b">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Books" asp-action="Tile" class="navbar-brand">BookCountry</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Books" asp-action="Tile">Library</a></li>
                    <li><a asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                    @if(User.Identity.IsAuthenticated && currentUser.IsLibrarian)
                    {
                        <li><a asp-controller="Borrowers" asp-action="Index">Borrowers</a></li>
                        <li><a asp-controller="Books" asp-action="New">New Book</a></li>
                        <li><a asp-controller="Loans" asp-action="Index">Loans</a></li>
                    }
                </ul>
                <ul class="nav navbar-nav pull-right">
                    @if(User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                Hello @currentUser?.GreetingName<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Borrowers" asp-action="Edit"
                                    asp-route-borrowerId="@currentUser?.Id">My Profile</a></li>
                            </ul>
                        </li>
                        <li><a asp-controller="Accounts" asp-action="Logout">Logout</a></li>
                    }
                    else
                    {
                        <li><a asp-controller="Accounts" asp-action="Login">Login</a></li>
                        <li><a asp-controller="Accounts" asp-action="Register">Register</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr/>
        <footer>
            <p>&copy; 2017 - BookCountry</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script asp-src-include="lib/jquery-validation/**/jquery.validate.min.js"></script>
    <script asp-src-include="lib/jquery-validation-unobtrusive/**/*.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
