@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>The online library book reservation system alows you to
    search through the hundreds of books in the library catalog and 
    easily manage your book reservations.
</p>
