@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Library Way<br />
    New York, NY 10038<br />
    <abbr title="Phone"><i class="fa fa-phone" aria-hidden="true"></i></abbr>
    555.555.5555
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@bookcountry.com">Support@bookcountry.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@bookcountry.com">Marketing@bookcountry.com</a>
</address>
