table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

input, select, textarea {
    max-width: 600px;
}

li{
    color: red;    
    font-family: 'FontAwesome';
    content: '\f067';
    display: inline-block;
    margin:0 5px 0 -15px;
}