@model BookCountry.Models.Book

<form id="book" asp-action="Create" role="form" method="post">
    <br />
    <br />
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" class="form-control" maxlength="255" style="max-width: 1170px;">
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
                <label >Authors</label>
                <input type="text" class="form-control" maxlength="255" style="max-width: 1170px;">
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12">
            <div class="form-group">
                <label asp-for="Edition">Edition</label>
                <input asp-for="Edition" class="form-control" maxlength="32" style="max-width: 300px;">
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12">
            <div class="form-group">
                <label asp-for="PublishedOn">Published On</label>
                <input asp-for="PublishedOn" type="date" class="form-control" maxlength="32" style="max-width: 150px;">
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12" style="max-width: 200px;">
            <div class="form-group">
                <label asp-for="Language.Id">Language</label>
                <select asp-for="Language.Id" asp-items="ViewBag.Languages" class="form-control">
                </select>
            </div>
        </div>

        <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="form-group">
                <label asp-for="Format">Format</label>
                <select asp-for="Format.Id" asp-items="ViewBag.Formats" class="form-control" style="max-width: 150px;">
                </select>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <label asp-for="Publisher">Publisher</label>
                <input asp-for="Publisher" class="form-control" maxlength="128">
            </div>
        </div>
        
        
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <label asp-for="Isbn">ISBN13</label>
                <input asp-for="Isbn" class="form-control" maxlength="15" style="max-width: 150px;">
            </div>
        </div>
        
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <label asp-for="DeweyCode">Dewey Code</label>
                <input asp-for="DeweyCode" type="number" maxlength="256" class="form-control" style="max-width: 100px;">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <label asp-for="Price">Price, $</label>
                <input asp-for="Price" type="number" maxlength="8" class="form-control" style="max-width: 100px;">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <label asp-for="Quantity">Quantity</label>
                <input asp-for="Quantity" type="number" maxlength="10" class="form-control" style="max-width: 100px;">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">New Book</button>
                &nbsp;
                <a class="btn btn-white" asp-controller="Books" asp-action="Index">Cancel</a>
            </div>
        </div>
    </div>
</form>