@model BookCountry.ViewModels.BookViewModel

@*<div class="container col-md-12">
    <div asp-validation-summary="All" class="text-danger"></div>
</div>*@

<div class="middle-box text-center loginscreen animated fadeInDown">
    @if (TempData["error"] != null)
    {
        <h1></h1>
        <div class="alert alert-danger">@TempData["error"]</div>
    }
</div>

    <h3 class="well"><strong>New Book Form</strong></h3>
    <form id="book" asp-action="Create" role="form" method="post" class="well">
        <br />
        <div class="row">
            <div class="col-lg-8">
                <div class="form-group">
                    <label asp-for="Book.Title">Title</label>
                    <span asp-validation-for="Book.Title" class="text-danger"></span>
                    <input asp-for="Book.Title" class="form-control" maxlength="255" style="max-width: 740px;">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="form-group">
                    <label asp-for="Authors">Authors</label>
                    <span asp-validation-for="Authors" class="text-danger"></span>
                    <input asp-for="Authors" placeholder="comma separated if multiple authors, ex. Jane Doe, John Smith" class="form-control" maxlength="255" style="max-width: 740px;">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <div class="form-group">
                    <label asp-for="Book.Edition">Edition</label>
                    <input asp-for="Book.Edition" class="form-control" maxlength="32" style="max-width: 200px;">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="Book.Publisher">Publisher</label>
                    <select asp-for="Book.Publisher.Id" asp-items="Model.Publishers" class="form-control" style="max-width: 400px;"></select>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label asp-for="Book.PublishedOn">Published On</label>
                    <span asp-validation-for="Book.PublishedOn" class="text-danger"></span>
                    <input asp-for="Book.PublishedOn" type="date" class="form-control" maxlength="32" style="max-width: 150px;">
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-2" style="max-width: 200px;">
                <div class="form-group">
                    <label asp-for="Book.Language.Id">Language</label>
                    <select asp-for="Book.Language.Id" asp-items="Model.Languages" class="form-control"></select>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label asp-for="Book.Format">Format</label>
                    <select asp-for="Book.Format.Id" asp-items="Model.Formats" class="form-control" style="max-width: 150px;"></select>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label asp-for="Book.Isbn">ISBN</label>
                    <span asp-validation-for="Book.Isbn" class="text-danger"></span>
                    <input asp-for="Book.Isbn" class="form-control" maxlength="25" style="max-width: 200px;">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label asp-for="Book.DeweyCode">Dewey Code</label>
                    <span asp-validation-for="Book.DeweyCode" class="text-danger"></span>
                    <input asp-for="Book.DeweyCode" type="number" maxlength="256" class="form-control" style="max-width: 100px;">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <div class="form-group">
                    <label asp-for="Book.TotalPages">Total pages</label>
                    <span asp-validation-for="Book.TotalPages" class="text-danger"></span>
                    <input asp-for="Book.TotalPages" type="number" maxlength="10" class="form-control" style="max-width: 120px;">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label asp-for="Book.Quantity">Quantity</label>
                    <span asp-validation-for="Book.Quantity" class="text-danger"></span>
                    <input asp-for="Book.Quantity" type="number" maxlength="10" class="form-control" style="max-width: 120px;">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label asp-for="Book.Price">Price, $</label>
                    <input asp-for="Book.Price" type="number" maxlength="8" class="form-control" style="max-width: 120px;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">New Book</button>
                    &nbsp;
                    <a class="btn btn-white" asp-controller="Books" asp-action="Index">Cancel</a>
                </div>
            </div>
        </div>
    </form>
