@model BookTilesViewModel

<h1></h1>
<form class="well" role="form" method="post" asp-controller="Books" asp-action="Search">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="col-lg-10">
                    <input type="text" class="form-control" placeholder="Search for..." style="max-width: 1800px"
                        asp-for="SearchTemplate">
                </div>
                <div>
                    <button class="btn btn-default btn-info" type="submit">Go!</button>
                </div>
            </div>
        </div>
    </div>
</form>
<hr/>

<div class="row">
    @foreach(var book in Model.Books)
    {
        <div class="col-sm-4">
            <div class="card" style="width: 45rem;">
                <a asp-action="Show" asp-route-bookId="@book.Id">
                    <img class="card-img-top img-responsive imgborder s1" src="@book.Cover" alt="Card image cap">
                </a>
                <div class="card-block">
                    <h4 class="card-title"><strong>@book.Title</strong></h4>
                    <p class="card-text">by <strong>@book.Authors</strong>
                    </p>
                </div>
                <br/>
                <br/>
                <br/>
            </div>
        </div>
    }
</div>
