@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Login";
}
@model LoginViewModel

<h3>Welcome to Book Country</h3>
<p>Online library catalog</p>

<form class="m-t" role="form" method="post" asp-controller="Accounts" asp-action="Login">
    <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" asp-for="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

    <a href="#"><small>Forgot password?</small></a>
    <p class="text-muted text-center"><small>Do not have an account?</small>
    </p>
    <a class="btn btn-sm btn-white btn-block" href="@Url.Action("Register", "Accounts")">Create an account</a>
</form>
